.body {
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  text-align: center;
  float: inherit;
}

.headerImage {
  width: 100vw;
  height: 100%;
  max-height: 250px;
  filter: brightness(50%);
}

.headerContainer {
  text-align: center;
  position:relative;
}

/**GOOOGLE FONTS**/
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
.headerText {
  position: absolute;
  font-size: 6vw;
  margin: 10vh 43vw;
  font-weight: bold;
  color: white;
  z-index: 1;

  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

h1 {
  margin:20px;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

h2 {
  margin:20px;
  font-size: 35px;
  font-weight: bold;
  text-align: left;
}

h3 {
  padding-top: 20px;
  padding-left: 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
}

h5 {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

/*navbar components*/

.bg-dark {
  background-color: #1f4127 !important;
}

@media (min-width: 500px) {
  .navbar-expand-lg .navbar-collapse {
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
  }
}

.hamburger-menu {
  display: none; /* Initially hide the hamburger menu button */
}

.hamburger-menu {
  border: none;
  cursor: pointer;
  background: none;
  padding-top: 18px;
}

.hamburger-menu-icon {
  width: 30px;
  height: 3px;
  background-color: black;
  display: block;
  position: relative;
}

.hamburger-menu-icon:before,
.hamburger-menu-icon:after {
  content: '';
  width: 30px;
  height: 3px;
  background-color: black;
  position: absolute;
  left: 0;
}

.hamburger-menu-icon:before {
  top: -10px;
}

.hamburger-menu-icon:after {
  top: 10px;
}



.main {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.container2 {
  max-width: 1400px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.products {
  float: left;
  width:325px;
  height:600px;
  margin:10px; 
	padding:20px;
  border-radius: 15px;
  box-shadow: 0px 4px 14px 8px #d8d8d8;
  overflow: auto;
  font-size: 15px;
}

.productReviews {
  float: left;
  width:325px;
  height:600px;
  margin:10px; 
	padding:20px;
  border-radius: 15px;
  box-shadow: 0px 4px 14px 8px #d8d8d8;
  overflow: auto;
  font-size: 15px;
}

.productName {
  font-size: 25px;
}

.productImage {
  width:280px;
  height:400px;
}

.productPrice {
  font-size: 30px; 
  font-weight: bold;
}

.cartItem {
  align-items: left;
  width:1400px;
  height:300px;
  margin:10px; 
	padding:20px;
  border-radius: 15px;
  box-shadow: 0px 4px 14px 8px #d8d8d8;
  overflow: auto;
  font-size: 15px;
}

.cartItemImage {
  width:150px;
  height:150px;
}

.form {

  text-align: left;
  margin-top: 20px;
  margin-left: 525px;
  font-size: 20px;
}

.profileicon {
  width:150px;
  height:150px;
}

.smallicon {
  width:25px;
  height:25px;
}

.reviews {
  padding-left:400px;
}

footer {
  bottom:0;
  height:100px;
  margin-top:auto; 
  padding-top: 0.75rem; 
  padding-bottom: 0.75rem; 
  background-color: #343a40;
  color:white;
}